.footer {
  text-align: left;
  background-color: #1e1e1e;
  padding: 30px 0;
  margin-top: 30px;
  ul {
    margin: 0 0 0 30px;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 10px;
    font-size: 10px;
    list-style: none;
    color: #FFF;
    cursor: pointer;
    &.footer-navigation-social {
      margin-left: 40px;
    }
    &.last-child {
      float: right;
    }
    .down-arrow {
      width: 0;
      height: 0;
      margin: 3px 0 0 3px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      float: right;
      border-top: 5px solid #fff;
    }
  }

}
